env_files:
  - ".env"
llama_cloud: true
workflows:
  upload: "{{project_name_snake}}.qa_workflows:DocumentUploadWorkflow"
  chat: "{{project_name_snake}}.qa_workflows:ChatWorkflow"
ui:
  directory: ui
