import { WorkflowEvent } from "@llamaindex/ui";

export function createQueryConversationHistoryEvent(): WorkflowEvent {
  return {
    data: {},
    type: "{{ project_name_snake }}.qa_workflows.QueryConversationHistoryEvent",
  };
}

export function createHumanResponseEvent(response: string): WorkflowEvent {
  return {
    data: { _data: { response } },
    type: "{{ project_name_snake }}.qa_workflows.HumanResponseEvent",
  };
}
